ul.menu {
    position : fixed;
    top : 0;
    right : 3%;
    width : 12%;

    margin : 0;
    border : 0;
    padding : 1.5%;
    padding-top : 8em;
    
    background-color : rgba(0, 200, 100, 0.1);

    list-style-type : none;
}

body {
    margin : 0;
}

h1.title, h2.subtitle {
    margin : 0;
    border : 0;
    padding : 1%;
}

h1.title {
    background-color : rgba(0, 0, 50, 0.8);
}

h2.subtitle {
    font-size : small;
    margin-bottom : 0;
    background-color : rgba(0, 10, 100, 0.7);
}

h1, h1.title a:link, h1.title a:visited, h2 {
    color : #ffffff;
}

div.content, div.footer {
    align : left;
    width : 78%;
    padding : 1%;
    margin : 1%;
}

hr {
    border-width : 3px 0 0 0;
    border-style : dotted;
}

h1, h2, h3, h4, h5, h6 {
    border-bottom : 3px dotted;
    border-right : 10px solid;
}

h1, h2, h3, h4, h5, h6, hr {
    border-color : #000066;
}

p.time, p.time a {
    font-size : small;
    color : #999999;
    text-align : right;
}
