body {
    font-family : sans-serif;
    font-size: 1.1em;
    padding : 10% 10%;
    color : #214;
    background-color: #f9f9f9;
}

.content {
    margin : 3% 0%;
}

a:link {
    text-decoration : none;
}
a:visited {
    text-decoration : none;
}
a:hover {
    text-decoration : underline;
}
a:active {
    text-decoration : underline;
}

code {
    background-color : #eee;
    padding: 0.1em 0.2em;
}

pre {
    background-color : #eee;
    padding : 0.2em 0.4em;     /* topbuttom leftright*/
    margin : 0.5em 0.5em;
    text-indent: 0;
}

h1 {
    border-style : none none double none;
    border-width : 0.15em;
}

h2 {
    border-style : none none solid none;
    border-width : 0.01em;
    border-color : #aac;
    margin-top : 3em;
}

h3 {
    margin-top : 2em;
}

/* menu ul */
ul.menu {
    /* margin : 0; */

    /* padding : 1%; */

    list-style-type : none;
    text-align : right;

}

/* elements of menu ul */
ul.menu li {
    display : inline;
}

/* footer paragraph */
p.footer {
    text-align : right;
}
