ul.menu {
    position : fixed;
    top : 8em;
    right : 3%;

    margin : 0;

    width : 12%;
    padding : 0.5em;

    list-style-type : none;
}

h2.subtitle {
    font-size : small;
    margin-bottom : 3em;
}

div.content, div.footer{
    align : left;
    width : 80%;
    padding : 1%;
}

h1, h2, h3, h4, h5, h6, ul.menu {
    border-bottom : 3px dotted;
    border-right : 10px solid;
}

hr {
    border-width : 3px 0 0 0;
    border-style : dotted;
}

h1, h2, h3, h4, h5, h6, ul.menu, hr {
    border-color : #000066;
}
h1, h2, h3, h4, h5, h6, ul.menu {
    border-bottom : 3px dotted;
    border-right : 10px solid;
}

p.time, p.time a {
    font-size : small;
    color : #999999;
    text-align : right;
}
