html {
    /* font-family: "PT Serif", Georgia, "Times New Roman", serif; */
    font-family: "PT Sans", Helvetica, Arial, sans-serif;
}

body {
    background-color: #fbfbfb;
}


.entry-content h1 {
    border-style : none none double none;
    border-width : 0.1em;
    border-color : #ccc;
    margin-top : 2em;
    margin-bottom : 1em;
}

.entry-content h2 {
    border-style : none none solid none;
    border-width : 0.01em;
    border-color : #aaa;
    margin-top : 2em;
    margin-bottom : 1em;
}

.entry-content h3 {
    margin-top : 2em;
    margin-bottom : 1em;
}


.entry-content pre.code {
    background-color : #eee;
    padding : 0.9em 0.9em;     /* topbuttom leftright*/
    margin : 1em .4em;
    text-indent: 0;
    border: 1px solid #ccc;
    border-radius: 3px;
}

.entry-content pre.code .err {
    /* Hack to stop highlighting japanese text */
    border: none;
}

blockquote {
    color: #666;
}

/* ? */
body  {
    /* font-family: sans-serif; */
}


aside.postpromonav nav {
    display: none;
}

#footer {
    margin-top: 3rem;
    border-top-width: 1px;
    border-top-color: black;
    border-top-style: solid;
    padding-top: 1rem;
}
