ul.menu {
    top : 8em;
    right : 3%;

    margin : 0;

    padding : 0.5em;

    list-style-type : none;
    text-align : right;
}

ul.menu li {
    display : inline;
}

h2.subtitle {
    font-size : small;
    margin-bottom : 3em;
}

div.content {
    width : 100%;
    padding : 1%;
    margin : 0%;
    font-size : smaller;
    background-color : #111111;
    color : #eeeeee;
}

body {
    background-color : #eeeeee;
    margin : 10%;
}

h1, h2, h3, h4, h5, h6 {
    border-bottom : 3px dotted;
    border-right : 10px solid;
    border-color : #00fefe;
    margin-right : 2%;
}

h1.title {
    border : none;
    margin : 1%;
    text-align : right;
}

