ul.menu {
    margin : 0;

    padding : 1%;

    list-style-type : none;
    text-align : right;

    background-color : #006666;
}

ul.menu li {
    display : inline;
}

ul.menu li a:link {
    color : #ffeeff;
}

ul.menu li a:visited {
    color : #ffccff;
}

h1.title {
    position : fixed;
    top : 0;
    left : 0;
    font-size : 7em;
    z-index : -1;
    margin : 1%;
    border : none;
}

div.content {
    padding : 1%;
    font-size : smaller;
    background-color : #ffffff;
    color : #222222;
}

body {
    background-color : #eeeeee;
    margin : 7.5em 10%;
}

h1, h2, h3, h4, h5, h6 {
    border-bottom : 3px dotted;
    border-right : 10px solid;
    border-color : #006666;
}

hr {
    border-width : 3px 0 0 0;
    border-style : dotted;
    border-color : #006666;
}
